.heading
{
    width: 100%;
    margin: 0px;
    font-size: 30px;
}
.note
{
    color: black;
    font-size: 15px;
}
body
{
  background-size: cover;
}
#song_name
{
    font-size: 20px;
}
canvas 
{
    background-color: black;
    border:5px, solid, white ;
    border-radius: 20px;
    box-shadow: 5px,5px,5px,#ffb4a2;
}